@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Style cho icon calendar cá»§a input date */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(0%);
  width: 20px;
  height: 20px;
  padding: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  filter: brightness(0) saturate(100%) invert(30%);
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(0%);
  width: 20px;
  height: 20px;
  padding: 2px;
}
